article{
  width: 25%;
  margin: 0 auto;
}
div{

}
div form{

}
#write1{
  padding: 2rem;
  border-radius: 1rem;
}
#res{
  padding: 2rem;
  border-radius: 1rem;
  background-color: black;
  color: aliceblue;
}
ul{
  padding: 0;
}
li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   width: 20rem;
  border-bottom: 1px solid black;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
}
li button{
  border-radius: 1rem;
  background-color: black;
  color: aliceblue;
}
